*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  transition: .5s ease-in-out;
  /* добавим плавность переходов для всех элементов страницы*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  outline: none;
}

img {
  display: block;

  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;

  font-family: 'Playfair Display';
  font-weight: normal;
}

body {
  color: #373737;
  background: #f7f7f7;

  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 1;
}

/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
  display: table;
  clear: both;

  content: "";
}

/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
  width: 100%;
  max-width: 960px;

  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: relative;

  width: 100%;
  margin-bottom: 30px;
  padding: 15px 0;

  background: white;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
}

/* логотип */
.logo {
  display: block;
  float: left;
}

.logo span {
  display: inline-block;

  width: 30px;
  height: 30px;
  margin: 5px 0;

  text-align: center;

  color: white;
  border-radius: 50%;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);

  line-height: 30px;
}

.logo span:nth-child(odd) {
  background: #EF5A42;
}

.logo span:nth-child(even) {
  background: #F8B763;
}

/* меню */
#menu {
  float: right;
}

#menu li {
  display: inline-block;

  margin-right: 30px;
}

#menu a {
  display: block;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #111;

  font-weight: 600;
  line-height: 40px;
}

#menu a:hover {
  color: #EF5A42;
}

#menu li:last-child {
  margin-right: 0;
}

/* форма поиска */
#searchform {
  position: relative;

  display: inline-block;

  float: right;

  margin-left: 46px;
}

#searchform input {
  float: left;
  overflow: hidden;

  width: 170px;
  height: 40px;
  padding-left: 10px;

  color: #9E9C9C;
  border: none;
  outline: none;

  font-style: italic;
}

#searchform button {
  position: absolute;
  right: 10px;

  height: 40px;

  cursor: pointer;

  color: #EF5A42;
  border: none;

  background: transparent;

  font-size: 18px;
}

#searchform input:focus {
  outline: 2px solid #EBEBE3;
}

/* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-toggle {
  position: relative;

  display: none;
  float: right;

  width: 40px;
  height: 40px;
  margin-left: 20px;

  cursor: pointer;

  background: #EF5A42;
}

.nav-toggle span {
  position: absolute;
  top: 19px;
  right: 8px;
  left: 8px;

  display: block;

  height: 2px;

  background: white;
}

.nav-toggle span:before,
.nav-toggle span:after {
  position: absolute;
  left: 0;

  display: block;

  width: 100%;
  height: 2px;

  content: "";

  background: white;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
#menu.active {
  max-height: 123px;
}

/* левый контейнер */
.posts-list {
  float: left;

  width: 64%;

  margin-bottom: 30px;
}

/* блок для статьи */
.post {
  margin-bottom: 35px;
}

.post-content p {
  padding-bottom: 1em;

  line-height: 1.5;
}

.post-image {
  margin-bottom: 30px;
}

.category {
  margin-bottom: 15px;
}

.category a {
  text-transform: uppercase;

  color: #F8B763;
}

.post-title {
  margin-bottom: 12px;

  font-size: 26px;
}

/* блок с кнопкой "продолжить чтение" и кнопками социальных сетей */
.post-footer {
  position: relative;

  margin-top: 15px;

  border-top: 1px solid #EBEBE3;
  border-bottom: 1px solid #EBEBE3;
}

.more-link {
  position: relative;

  display: inline-block;

  padding: 0 22px;

  white-space: nowrap;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: white;
  background: #3C3D41;

  font-size: 10px;
  line-height: 44px;
}

.more-link:after {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  width: 0;
  height: 0;

  content: '';
  transform: translateX(100%);

  border: solid transparent;
  border-width: 22px 18px;
  border-left-color: #3C3D41;
}

.post-social {
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;

  padding: 0;

  transform: translateY(-50%);
  text-align: right;

  font-size: 12px;
}

.post-social a {
  display: inline-block;

  width: 25px;
  height: 25px;
  margin-left: 8px;

  text-align: center;

  color: #F8B763;
  border: 1px solid;
  border-radius: 50%;

  line-height: 23px;
}

/* правый контейнер */
aside {
  float: right;

  width: 33%;
}

/* блок для виджетов */
.widget {
  margin-bottom: 30px;

  padding: 20px 15px;

  background: white;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);

  font-size: 13px;
}

.widget-title {
  margin-bottom: 20px;
  padding: 10px;

  text-align: center;

  border: 2px solid #F8B763;
  box-shadow: 3px 3px 0 0 #F8B763;

  font-size: 18px;
}

.widget-category-list li {
  padding: 10px 0;

  color: #c6c6c6;

  border-bottom: 1px solid #EBEBE3;

  font-style: italic;
}

.widget-category-list li:last-child {
  border-bottom: none;
}

.widget-category-list li a {
  margin-right: 6px;

  color: #626262;

  font-style: normal;
}

.widget-category-list li a:before {
  display: inline-block;

  margin-right: 10px;

  content: "\f105";

  color: #c6c6c6;

  font-family: 'FontAwesome';
}

.widget-posts-list li {
  padding: 15px 0;

  border-top: 1px solid #EBEBE3;
}

.widget-posts-list li:nth-child(1) {
  border-top: none;
}

.post-image-small {
  float: left;

  width: 30%;
  margin-right: 15px;
}

.widget-post-title {
  float: left;
}

/* форма подписки */
#subscribe {
  position: relative;

  width: 100%;
  padding: 15px 0;
}

#subscribe input {
  position: relative;

  display: block;
  float: left;

  width: 100%;
  height: 40px;
  padding: 0 0 0 10px;

  color: #9E9C9C;
  border: 2px solid #EBEBE3;
  outline: none;

  font-style: italic;
}

#subscribe button {
  position: absolute;
  right: 0;

  height: 40px;

  padding: 0 15px;

  cursor: pointer;

  color: #EF5A42;
  border: none;
  background: transparent;

  font-size: 18px;
}

#subscribe input:focus+button {
  color: white;

  background: #EF5A42;
}

footer {
  padding: 30px 0;

  color: white;
  background: #3C3D41;
}

.footer-col {
  float: left;

  width: 33.3333333333%;
}

.footer-col a {
  color: white;
}

.footer-col:last-child {
  text-align: right;
}

.social-bar-wrap {
  text-align: center;
}

.social-bar-wrap a {
  padding: 0 7px;

  font-size: 18px;
}

@media (max-width: 768px) {

  /* показываем кнопку для переключения верхней навигации */
  .nav-toggle {
    display: block;
  }

  header {
    padding: 10px 0;
  }

  /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
  #menu {
    position: absolute;
    z-index: 3;
    top: 63px;
    right: 0;
    left: 0;

    float: none;
    overflow: hidden;

    max-height: 0;
    margin: 0;
    padding: 0;

    background: white;
  }

  /* делаем элементы списка блочными, чтобы они располагались друг под другом */
  #menu li {
    display: block;

    margin-right: 0;

    text-align: center;

    border-bottom: 1px solid #EBEBE3;
  }

  /* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
  .posts-list,
  aside {
    float: none;

    width: 100%;
  }

  .widget-post-title {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {

  /* отменяем обтекание для логотипа и выравниваем по центру*/
  .logo {
    display: table;

    float: none;

    margin: 0 auto 15px;
  }

  .logo span {
    margin: 0 2px;
  }

  /* позиционируем меню на увеличившуюся высоту шапки */
  #menu {
    top: 118px;
  }

  /* позиционируем форму поиска по левому краю */
  #searchform {
    float: left;

    margin-left: 0;
  }

  /* убираем верхнюю и нижнюю границы и выравниваем кнопку по центру */
  .post-footer {
    text-align: center;

    border-top: none;
    border-bottom: none;
  }

  /* отменяем позиционирование кнопок соцсетей */
  .post-social {
    position: static;

    margin-top: 20px;

    transform: none;
    text-align: center;
  }

  .widget-post-title {
    font-size: 1.2em;
  }

  /* отменяем обтекание для столбцов подвала страницы */
  .footer-col {
    float: none;

    width: 100%;
    margin-bottom: 20px;

    text-align: center;
  }

  .footer-col:last-child {
    margin-bottom: 0;

    text-align: center;
  }
}